<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a href="#" class="navbar-brand"><img src="https://logodix.com/logo/1065411.png" height="50" alt = "Web Technology"/></a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav">
          <a routerLink="/home" class="nav-item nav-link ">Home</a>
          <a href="/posts" class="nav-item nav-link">Posts</a>
          <a href="#" class="nav-item nav-link">About Us</a>
          <a href="#" class="nav-item nav-link">Contact Us</a>
      </div>
  </div>
</nav>

<router-outlet></router-outlet>